.login-header {
  font-size: 36px;
  font-weight: 600;
}



.logo-design {
  top: 10px;
}

.input-field {
  border: 1px solid #ddd;
  padding: 0.5rem;
  border-radius: 0.5rem;
  transition: border-color 0.2s ease, box-shadow 0.2s ease;
}

.input-field:hover,
.input-field:focus {
  border-color: #d6bcfa;
  box-shadow: 0 0 8px #d6bcfa;
  outline: none;
}

.input-field.error {
  border-color: red !important;
}

.custom-signin-button {
  width: 100%;
  background-color: #6941c6;
  color: white;
  padding: 0.5rem;
  border-radius: 0.375rem;
  font-weight: 600;
  transition: background-color 0.2s ease;
}

.custom-signin-button:hover {
  background-color: #3b0a76;
}
.custom-arrow {
  position: absolute;
  top: 81vh; 
  right: 35vw;
  height: 40vh;
  width: 21vw; 
  transform: translate(-50%, -50%);
}

.login-mobile {
  display: none;
}

@media (max-width: 854px) {
  .login-desktop {
    display: none;
  }

  .login-mobile {
    display: block;
    position: relative;
  }
}

@media (max-width: 1024px) {
  .tablet-image{
    height: 200px;
    width: 350px;
  }
  .login-desktop {
    
  }
} 
 